* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

body {
    background-color: #fff;
    /* overflow-x: hidden; */
}

.main {
    display: flex;
}

a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
}

/* side Cart style init */

.storeCart {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    transition: all 0.5s;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.09);
}

.storeCart .headerCart {
    display: flex;
    height: 35px;
    justify-content: center;
    overflow-x: hidden;
    position: relative;
    margin: 1rem;
}

.storeCart .headerCart a {
    position: absolute;
    right: 3rem;
    font-size: 30px;
    text-decoration: none;
    color: black;

}


.storeCart > div {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-weight: bold;
}

.storeCart h3 {
    text-align: center;
}

.storeCart #img {
    margin: .5rem;
}

.storeCart img {
    width: 150px;
}

/* side Cart style end */

/* navbar style init */

.navbar {
    margin-top: 1rem;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    color: black;
    height: 40px;
    width: 100%;
}

nav input {
    border: none;
    font-size: 1rem;
    outline: none;
}

nav img {
    width: 25px;
}

nav button {
    float: right;
    background: none;
    border: none;
    cursor: pointer;
    margin: 1rem .5rem;
}

nav .total {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -7px;
    bottom: -3px;
    margin-top: -12px;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: bolder;
    color: white;
}

nav .cart {
    position: relative;
}

nav .btnCartResponsive {
    display: none;
}

/* navbar style end */

.catalogo {
    width: 1200px;
    margin: auto;
    margin-bottom: 3rem;
    text-align: center;
}

.containerMain {
    display: flex;
    justify-content: space-between;
    color: black;
    height: 450px;
}

.itemBestSellers {
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 415px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    position: relative;
    padding: 1rem;
}

.itemBestSellers input {
    display: none;
}

.sliderBestSellers {
    overflow: hidden;
    height: 284px;
    border-radius: 1rem;
}

.sliderBestSellers .slide {
    position: relative;
    transition: 1s;
    background-color: #EEEFF1;
}

.itemBestSellers .image img {
    width: 100%;
}

.itemBestSellers .title {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.itemBestSellers .title .prices {
    display: flex;
    flex-direction: column;
}

.itemBestSellers .title .prices h3 {
    color: red;
    text-decoration: line-through;
}

.manual-navigation {
    position: absolute;
    width: 550px;
    bottom: 30%;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid gray;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.manual-btn:not(:last-child) {
    margin-right: 10px;
}

.manual-btn:hover {
    background-color: black;
}

#radio1:checked ~ .first {
    margin-bottom: -10;
}

#radio2:checked ~ .first {
    margin-bottom: -55%;
}

#radio3:checked ~ .first {
    margin-bottom: -110%;
}

#radio4:checked ~ .first {
    margin-bottom: -165%;
}

.navigation-auto {
    position: absolute;
    width: 550px;
    bottom: 30%;
    display: flex;
    justify-content: center;
}

.navigation-auto div {
    border: 2px solid rgba(0, 0, 0, 0.15);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 10px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: black;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: black;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: black;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: black;
}

.othersSellers {
    display: flex;
    flex-direction: column;
}

.othersSellers > div {
    display: flex;
    width: 550px;
    height: 200px;
    border-radius: 1rem;
    margin-bottom: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.othersSellers .image {
    width: 250px;
    height: 180px;
}

.othersSellers .image img {
    width: 100%;
    height: 100%;
    margin: 0.5rem;
    border-radius: 1rem;
}

.othersSellers .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.othersSellers .title h2 {
    padding: 1rem;
}


.mostSeen {
    justify-content: space-between;
    display: inline-flex;
    width: 100%;
}

.mostSeen > .otherItem {
    height: 320px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    color: black;
}

.mostSeen > .otherItem img {
    margin: 0.5rem;
    border-radius: 1rem;
    height: 200px;
    width: 250px;
}

.mostSeen .otherItem .title button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    margin: .5rem auto;
    padding: .5rem;
    border-radius: 1rem;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.15);
    width: 50%;
    transition: .5s;
}

.mostSeen .otherItem .title button:hover {
    transform: scale(1.1);
}

.mostSeen .otherItem .title img {
    width: 2rem;
    height: auto;
    margin: 0;
}

/* media responsive start */

@media (max-width: 1250px) {

    .catalogo {
        width: 900px;
    }

    .containerMain {
        height: 450px;
    }

    .othersSellers {
        width: 35%;
        height: 415px;
    }

    .othersSellers > div {
        flex-direction: column;
        width: 100%;
    }

    .othersSellers > div .image {
        width: 100%;
        height: 200px;
    }

    .othersSellers > div .image img {
        margin: 0.5rem;
        width: 270px;
        height: 180px;
    }

    .othersSellers > div .title {
        display: none;
    }

    .mostSeen {
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 1rem;
        overflow: auto;
    }

    .mostSeen .otherItem {
        margin: 1rem;
    }
}

@media (max-width: 600px) {
    
    .catalogo {
        max-width: 550px;
        overflow: hidden;
        margin: 1rem;
    }

    .containerMain {
        flex-direction: column;
        height: 650px;
    }

    nav input {
        display: none;
    }

    .itemBestSellers {
        width: auto;
    }

    .sliderBestSellers {
        height: 240px;
    }

    .sliderBestSellers .navigation-auto {
        display: none
    }

    .manual-navigation {
        display: none;
    }

    .othersSellers {
        width: 100%;
        flex-direction: row;
        overflow: auto;
        margin-top: 1rem;
    }

    .othersSellers > div {
        height: auto;
    }

    .othersSellers > div .image img {
        height: 200px;

    }

    .othersSellers > div .title {
        display: block;
        margin-top: 1rem;
    }

    .othersSellers > div .title h2 {
        padding: 0;
    }
}

@media (max-width: 500px) {

    .sliderBestSellers {
        height: 175px;
    }
    
    #radio1:checked ~ .first {
        margin-bottom: 0;
    }
    
    #radio2:checked ~ .first {
        margin-bottom: -55%;
    }
    
    #radio3:checked ~ .first {
        margin-bottom: -110%;
    }
    
    #radio4:checked ~ .first {
        margin-bottom: -168%;
    }

    button#btnCart {
        display: none;
    }

    button.btnCartResponsive {
        display: block;
    }
}

/* media responsive end */