* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

.main {
    display: flex;
    height: 100%;
    background-color: #191B21;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    height: 70px;
    width: 100%;
}

nav h1 {
    font-size: 2rem;
}

nav button {
    background: none;
    border: none;
    cursor: pointer;
}

.menuLateral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    background-color: #191B21;
}

.menuLateral a {
    font-size: 1.5rem;
    margin: 1rem;
    text-decoration: none;
    color: gray;
}

.catalogo {
    width: 75%;
    margin-top: 5rem;
    text-align: center;
}

.containerMain {
    display: flex;
    justify-content: space-around;
    color: white;
    width: 1250px;
    height: 450px;
    margin: auto;
}

.containerMain .image {
    margin: 10px 10px 10px 10px;
}

.itemBestSellers {
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 415px;
    border: 1px solid white;
    border-radius: 1rem;
}

.itemBestSellers img {
    width: 100%;
    /* height: 300px; */
    border-radius: 1rem;
}

.itemBestSellers .title {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.othersSellers {
    display: flex;
    flex-direction: column;
}

.othersSellers > div {
    display: flex;
    width: 550px;
    height: 200px;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.othersSellers .itemNew {
    display: flex;
    border: 1px solid white;
    position: relative;
}

.othersSellers .image {
    width: 250px;
}

.othersSellers .image img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.othersSellers .itemLowPrice {
    border: 1px solid white;
}

.mostseen {
    display: inline-flex;
    justify-content: space-between;
}

.mostseen > .otherItem {
    margin: 1rem;
    width: 270px;
    height: 300px;
    border: 1px solid rgba(255, 255, 255, 0.093);
    border-radius: 1rem;
    color: white;
}

.mostseen > .otherItem img {
    margin: 0.5rem;
    border-radius: 1rem;
    height: 200px;
    width: 250px;
}